*,
::after,
::before {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-size: 13px;
  font-family: 'Rubik', sans-serif;
}
@font-face {
  font-family: "Devlys";
  src: url("../webfonts/Devlys.ttf") format("truetype");
}
.topbar {
  background: #273238;
  color: #fff;
}
.topbar ul li {
  font-size: 13px;
}
.topbar ul li:first-child {
  background: #f98346;
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
}
.topbar ul li:not(:last-child) {
  margin-right: 1rem;
}
.topbar ul li a {
  color: #f98346;
  text-decoration: none;
}
.topbar ul li a:hover {
  color: #fff;
}
.header_nav .navbar-nav .nav-item {
  padding: 7px;
  font-size: 15px;
  font-weight: 600;
  position: relative;
}
.header_nav .navbar-nav .nav-item .nav-link {
  color: #000000c7;
}
.header_nav .navbar-nav .nav-item .nav-link:hover {
  color: #079da3;
}
.header_nav .navbar-nav .nav-item .nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #079da3;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.header_nav .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
  left: 0;
}
.main_slider .carousel-caption {
  right: inherit;
  bottom: inherit;
  left: 10%;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  text-align: left;
  top: 30%;
}
.main_slider .carousel-caption h5 {
  color: #2b8384;
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 0;
}
.main_slider .carousel-caption p {
  color: #dc4c4c;
  font-size: 40px;
  line-height: 1.3;
  font-weight: 600;
}
.main_slider .carousel-caption p span {
  color: #2b8384;
}
.middlelayer {
  background: #172b4c;
  color: #fff;
}
.middlelayer .font_set {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
.middlelayer .font_set abbr {
  font-weight: 400;
  font-size: 15px;
}
.middlelayer button {
  background: #e84c3d;
  font-size: 21px;
  text-transform: capitalize;
  padding: 8px 30px;
  font-weight: 600;
}
.middlelayer button:hover {
  background: #e84c3d;
}
.editable_text p {
  font-size: 18px;
  color: #7a7979;
  text-transform: capitalize;
  text-align: center;
}
.editable_text a {
  font-size: 17px;
}
.list_items_group {
  border-bottom: 1px dashed #d5d5d5;
  padding-bottom: 50px;
}
.list_items_group p {
  font-size: 19px;
  color: #484848;
  margin-bottom: 20px;
}
.list_items_group .first_column .first img{
  margin-left: 20px;
}
.list_items_group .first_column .second img{
  margin-right: 20px;
  margin-left: 20px;
}
.list_items_group .first_column .third img{
  margin-right: 50px;
  margin-left: 20px;
}
.list_items_group .first_column .fourth img{
  margin-right: 70px;
  margin-left: 20px;
}
.list_items_group .second_column img {
  width: 70%;
}
.list_items_group .third_column .first img{
  margin-right: 20px;
}
.list_items_group .third_column .second img{
  margin-right: 20px;
  margin-left: 20px;
}
.list_items_group .third_column .third img{
  margin-right: 20px;
  margin-left: 50px;
}
.list_items_group .third_column .fourth img{
  margin-right: 20px;
  margin-left: 70px;
}
.benifits_school .managment_owner img {
  width: 85%;
}
.benifits_school h2 {
  color: #079da3;
  font-size: 47px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.benifits_school span {
  color: #db4c4c;
  font-size: 35px;
}
.benifits_school p {
  line-height: 30px;
  font-size: 16px;
  text-align: justify;
}
.benifits_table .card.first {
  border-top-left-radius: 30px;
}
.benifits_table .card.third {
  border-top-right-radius: 30px;
}
.benifits_table .card {
  border: 1px solid #d5d5d5;
  box-shadow: none;
  background: #e6e7e9;
  height: 100%;
  border-radius: 15px;
}
.benifits_table .card-title {
  text-align: center;
  font-size: 27px;
  color: #275978;
  font-weight: 600;
}
.benifits_table img {
  width: 40%;
  margin: 0 auto;
  height: 140px;
}
.benifits_table .uvp-list {
  padding: 1.5rem 1.2rem;
}
.benifits_table .uvp-list ul {
  padding-left: 10px;
  list-style: none;
  margin-bottom: 0;
}
 .uvp-list ul li {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 26px;
}
.benifits_table .uvp-list ul > li:before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  display: block;
  float: left;
  margin-left: -1.5rem;
  background: url("https://info.openpath.com/hubfs/checkmark-round-orange.svg");
  background-size: cover;
  background-position: center;
  padding: .15rem;
}
.section-title h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.3px;
  padding: 0;
}
.section-title::after {
  content: "";
  height: 3px;
  border-bottom: 1px dashed #ddd;
  width: 250px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.bx-controls {
position: relative;
}
.bx-wrapper .bx-pager {
  text-align: center;
  padding-top: 30px;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.mobile_app {
  background-image: linear-gradient(to right, #74c5d8, #4e8abc);
}
.mobile_app .mobile_for_android img {
  width: 50%;
}
.mobile_app h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
}
.mobile_app h4 {
  color: #fff;
  font-size: 32px;
  font-style: italic;
}
.mobile_app figcaption {
  font-size: 15px;
  color: #000;
  line-height: 23px;
  font-style: italic;
  padding-top: 10px;
}
.mobile_app figcaption span {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
}
.mobile_app h5 {
  color: #fff;
  font-size: 35px;
}
.request_demo {
  background: url('../img/Asset-28.png');
  background-size: 100% 102%;
}
.request_demo h6 {
  font-size: 32px;
}
/* hide arrows
 Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none !important;
   margin: 0 !important;
 }
 
 /* Firefox */
 input[type=number] {
   -moz-appearance: textfield !important;
 }
 .request_demo .form-outline .form-control {
  padding: 0.5rem 0.75em;
  background: #ffffffbf;
 }
 .request_demo .form-outline .form-control~.form-label {
  padding-top: 0.7rem;
  font-size: 14px;
 }
 .request_demo a {
  font-size: 15px;
  color: #016738;
  font-weight: 600;
 }
 .request_demo .btn {
  background: #e84c3d;
  font-size: 23px;
  text-transform: uppercase;
  padding: 15px 60px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
 }
 .footer {
  background: #172b4c;
 }
 .footer ul {
  padding-left: 17px;
  list-style-type: none;
 }
 .footer ul li {
  font-size: 16px;
  color: #ffffffb8;
  margin-bottom: 10px;
}
.footer ul li a {
  color: #ffffffb8;
}
.footer h4 {
  color: #fff;
  font-size: 20px;
}
.footer .footer-links ul {
  padding-left: 0px;
}
ul.social-network {
	padding-left:0px;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
    
}
/* footer social icons */

.social-network a.icopinterest:hover {
	background-color: #e60023;
   
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icowhatsapp:hover {
	background-color:#529d9f;
}
.social-network a.icoinstagram:hover {
	background-color:#ca3999;
}
.social-network a.icoyoutube:hover {
	background-color:#ff0000;
}
.social-network a.icopinterest:hover i, .social-network a.icoFacebook:hover i, 
.social-network a.icowhatsapp:hover i, .social-network a.icoinstagram:hover i, .social-network a.icoyoutube:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}
.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-network a.icoRss {
    color: grey;
}
.social-circle i {
    color: #fff!important;
}

.social-network a{border: 1px solid #9d9595;}
.social-network a:hover{border: none;}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.footer h5 {
  color: #ffffffb8;
  font-size: 16px;
  letter-spacing: 1px;
}
.footer h6 {
  color: #ffffffb8;
  font-size: 15px;
}
.copyright {
  background: #273238;
  color: #fff;
}
